body {
    display: block;
    text-align: center;
    margin: auto;
    border: solid 10px #931621;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: solid 10px #931621;
}

figcaption {
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #931621;
}

h1 {
    grid-column: 1/3;
}

p {
    grid-column: 2/3;
    text-align: justify;
}

#disappointed {
    grid-column: 1/2;
    grid-row: 2/3;
    float: left;
}

#grid-404 {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 5%;
}

#logo {
    background-color: #907F9F;
    border-radius: 5%;
}

#explanation {
    text-align: center;
}