/* html selectors */
section {
    display: block;
    text-align: center;
}

figure {
    text-align: center;
}

p {
    text-align: center;
}

/* class selectors */
.visages img {
    width: 100%;
    border: solid 10px #931621;
    border-radius: 10%;
}

.visages img:hover {
    border-color: #907F9F;
}

.image-grid {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 40% 40%;
}

/* id selectors */
#tug-of-war{
    grid-column: 1/3;
}

#dragonkeep {
    grid-column: 1/2;
}

#dragon-wilderness {
    grid-column: 1/3;
    grid-row: 4/6;
}

#self-portrait-6909 {
    grid-row: 6/8;
}

/* TESTING SELECTORS */
