@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* primary-color: #907F9F
secondary-color: #931621
accent1-color: #0F1A20
accent2-color: #E9ECF5 */
/* html selectors */
body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    color: #E9ECF5;
    background-color: #0F1A20;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: auto;
    background-color: #907F9F;
    border: solid #931621;
    border-width: 5px 0 5px 0;
    font-family: "Josefin Sans", sans-serif;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #931621;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #907F9F;
    border: solid #931621;
    border-width: 5px 0 5px 0;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #931621;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

h1 {
    text-align: center;
}

/* class selectors */
.main-text {
    text-align: center;
    margin: 5% 15%;
}

.home-grid-section {
    grid-column: 1/2;
    padding: 5%;
}

.home-grid-section a {
    text-decoration: none;
    color: inherit;
}

.home-grid-section a:hover{
    text-decoration: none;
    color: #931621;
}

/* id selectors */
#logo-link {
    max-width: 200px;
    max-height: 200px;
    margin-left: 5%;
}

#home-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
    text-align: center;
}

#draconic-visage-section {
    grid-row: 2/3;
}

#draconic-deed-section {
    grid-row: 3/4;
}

#enter-den-section {
    grid-row: 4/5;
}

#dragon-wildy-main {
    grid-column: 2/3;
    grid-row: 1/6;
    max-width: 80%;
    border-radius: 5%;
    margin-bottom: 5%;
}